<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./insert1style.css">
    <title>사진업로드페이지</title>
</head>
<body>
  <div class="box1"> 사진 업로드
    <div class="jb-wrap">
         <div class="jb-image">
                <img class="image" src="./네컷 세로1.png" alt="">
            </div>
         <div class="buttonbox">
            <button class="jb-text1">사진고르기</button>
            <button class="jb-text2">사진고르기</button>
            <button class="jb-text3">사진고르기</button>
            <button class="jb-text4">사진고르기</button>
            </div>
   </div>
        
    
        
    </div>
 


</body>
</html>