<!DOCTYPE html>
<html lang="kor">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./mainstyle.css">
    <title>입장페이지</title>
</head>
<body>
    <img src="./main.jpg" alt="main" class="image">

    <div class="welcome">
        🌴나의 여름일기
    </div>
    <div class="login">
        <a href="../loginpage/login.html" class="textBlack">LOGIN</a>
    </div>
    <div class="copy">
        copyright 여름이었다 팀
    </div>
</body>
</html>
